<html>

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>Layui登陆页面</title>

    <link rel="stylesheet" href="/js/layui/css/layui.css">

    <style>

        .window{

            width: 400px;

            position: absolute;

            margin-left: -200px;

            margin-top: -80px;

            top: 50%;

            left: 50%;

            display: block;

            z-index: 2000;

            background: #fff;

            padding: 20 0;

        }

    </style>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/layui/layui.js"></script>

</head>

<body style="background: #f1f1f1;">

<div id="yx1" class="window">

    <div class="layui-layout layui-layout-admin" >
        <div class="layui-header">
            <!--<div class="layui-layout-left"><a href=""></a></div>-->
            <ul class="layui-nav">
                <li class="layui-nav-item"><a href="javascript:updatestyle1()">手机快捷登录</a></li>
            </ul>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="javascript:updatestyle2()">普通登录</a></li>
            </ul>

        </div>
    </div>
    <form id="ptFormId" class="layui-form" method="post">

        <div class="layui-form-item" style="margin-right: 100px;margin-top: 20px;">

            <label class="layui-form-label">用户名：</label>

            <div class="layui-input-block">

                <input type="text" name="customerName" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">

            </div>

        </div>

        <div class="layui-form-item" >

            <label class="layui-form-label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>

            <div class="layui-input-inline">

                <input type="password" name="customerPass" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">

            </div>

        </div>
        <div class="layui-form-item" >

            <label class="layui-form-label">

                <span class="label">验证码：</span>

            </label>

            <div class="layui-input-inline">

                <div style="float: left">
                    <input type="text" class="layui-input" size=5 name="imgcode"  id="imgId" placeholder="验证码">
                </div>
                <div style="float: left">
                    <img id="imgcode" src="/verificationCode" onclick="change()">
                </div>
                <i style="color:red;" id="imgcod"></i>
            </div>

        </div>

        <center><font size="2" color="#bdb76b">没有账号？<a href="">立即注册</a><br>
        账号封禁？<a href="">手机验证解封</a></font>
        </center>

        <div class="layui-form-item" pane="">
            <div style="text-align: center;">

                <input type="button" class="layui-btn" onclick="ptForm()"  value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录"/>

            </div>
        </div>

    </form>

</div>

<div id="yx2" class="window" style="display:none;">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!--<div class="layui-layout-left"><a href=""></a></div>-->
            <ul class="layui-nav">
                <li class="layui-nav-item"><a href="javascript:updatestyle1()">手机快捷登录</a></li>
            </ul>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="javascript:updatestyle2()">普通登录</a></li>
            </ul>

        </div>
    </div>
    <form id="sjFormId"  class="layui-form" method="post">

        <div class="layui-form-item" style="margin-right: 100px;margin-top: 20px;">

            <label class="layui-form-label">手机号：</label>

            <div class="layui-input-block">

                <input type="text" name="phoneNumber" required  lay-verify="required" placeholder="请输入手机号" autocomplete="off" class="layui-input">

            </div>

        </div>
        <div class="layui-form-item" >

            <label class="layui-form-label"></label>

            <div class="layui-input-inline">

                <input id="btnSendCode" style="width: 120px;height: 39px;text-align: center;background-color: white;border: 1px solid #E2E2E2;" type="button"   value="获取验证码" onclick="sendMessage();" />

            </div>

        </div>
        <div class="layui-form-item" >

            <label class="layui-form-label">验证码：</label>

            <div class="layui-input-inline">

                <input type="password" name="password" required lay-verify="required" placeholder="请输入验证码" autocomplete="off" class="layui-input">

            </div>

        </div>



        <div class="layui-form-item" pane="">
            <div style="text-align: center;">

                <input type="submit" class="layui-btn"  value="登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录"/>

            </div>
        </div>

    </form>

</div>
</body>
<script>
    /*倒计时按钮*/
    var InterValObj; //timer变量，控制时间
    var count = 60; //间隔函数，1秒执行
    var curCount;//当前剩余秒数
    //发送短信验证码
    function sendMessage() {
        $.ajax({
            url:"/sendMessage",
            type:"post",
            data:$("#sjFormId").serialize(),
            success:function(data){

            }
        })
        curCount = count;
        // 设置button效果，开始计时
        document.getElementById("btnSendCode").setAttribute("disabled","true" );//设置按钮为禁用状态
        document.getElementById("btnSendCode").value=curCount + "秒后重获";//更改按钮文字
        InterValObj = window.setInterval(SetRemainTime, 1000); // 启动计时器timer处理函数，1秒执行一次
    }

    //timer处理函数
    function SetRemainTime() {
        if (curCount == 0) {//超时重新获取验证码
            window.clearInterval(InterValObj);// 停止计时器
            document.getElementById("btnSendCode").removeAttribute("disabled");//移除禁用状态改为可用
            document.getElementById("btnSendCode").value="重获验证码";
        }else {
            curCount--;
            document.getElementById("btnSendCode").value=curCount + "秒后重获";
        }
    }

    //看不清刷新
    function change(){
        $("#imgcode").attr("src","/verificationCode?t="+Date.now());
    }
function updatestyle1() {
    $("#yx2").show();
    $("#yx1").hide();
}
function updatestyle2() {
    $("#yx1").show();
    $("#yx2").hide();
}
function ptForm() {
    $.ajax({
        url:"/ordinary",
        type:"post",
        data:$("#ptFormId").serialize(),
        success:function (data){
            //返回1 登陆成功 2验证码错误 3 密码或者账号错误 4 账号被封禁 5 不可为空
            if(data.status==1){
                alert("登陆成功")
            }else if(data.status==2){
                alert("验证码错误")
            }else if(data.status==3){
                alert("密码或者账号错误")
            }
            else if(data.status==4){
                alert("账号被封禁")
            }
            else if(data.status==5){
                alert("不可为空")
            }
        }
    })
}
</script>
</html>